button
{
  background-color: rgb(145, 34, 34);
  color: aliceblue;
  height: 40px;
  width: 80px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 630px;
  border: 0.2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px rgb(105, 104, 104);
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

